label{
    cursor: pointer;
}

.tableWords {
    width: 100%;
    border: 1px solid gray;
    border-collapse: collapse;
    cursor: pointer;  
}

.tableWords tr:nth-child(even) {
    background-color: #f2f2f2;
}

.tableWords tr td {
    border-bottom: 1px solid gray; 
    padding-left: 15px;
}


.wordName{
    font-size: 18pt;
    color: rgb(45, 51, 99);
}

.wordMeaning{
    font-size: 13pt;
    color: rgb(45, 51, 99);
    font-style: italic;
}

.addWord{
    height: 80px;
    width: 80px;
    cursor: pointer;
    position: absolute;
    right: 10%;
    bottom: 30px;
}