<div class="flexContainerLanguage">
    <div *ngFor="let genericAction of genericActions" class="buttonLanguage">
        <app-card-button [genericRecord]="genericAction" (eventAdd)="add($event)"></app-card-button>
    </div>
    <div *ngFor="let language of languages" class="buttonLanguage">
        <app-card-button [genericRecord]="language.asGenericRecord()" (eventRemove)="remove($event)" (eventUpdate)="update($event)"
            (eventSelect)="select($event)"></app-card-button>
    </div>
</div>