.flexContainerGroup{
    display: flex;
    flex-flow: row wrap;  
    margin: 0 auto;
    justify-content: center;
}

.buttonGroup{
    margin-right: 5px;
    margin-bottom: 15px;
    width:200px;
    height: 50px;
}
