
<div ng-app="appButtonCard" *ngIf="genericRecord">
    <span ng-controller="ctrlButtonCard" 
            [class.cardButton]="true" [class.cardButton--content]="!isAction()" [class.cardButton--action]="isAction()"  
            [style.line-height.px]="height" 
            [style.width.px]="width" 
            (click)="doAction()">
            <label *ngIf="!inputNew && genericRecord.action ===''">                
                {{genericRecord.name}}
            </label>
            <img *ngIf="!inputNew && genericRecord.action ==='new'" src="assets/Add.png" width="50" height="50" style="vertical-align: middle" />
            <div *ngIf="inputNew">
                <input [(ngModel)]="inputNew.value"  type="text" class="textBox" placeholder="input your text here">                                
                <img src="assets/Cancel.png" (click)="cancelNew()" width="15" height="15" style="padding-left: 5px"/>
            </div>
    </span>
</div>