label{
    cursor: pointer;
}
.cardButton{
    padding:10px;
    border: 1px solid black;
    border-radius: 5px;
    cursor: pointer;
    position: relative;
}

.cardButton--content{
    background-color: cornflowerblue;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    font-size: 15pt;  
    text-align: center;
 }

 .cardButton--content:hover{
    background-color:royalblue;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color:white;
    font-size: 18pt;
    text-align: center; 
 }

 .cardButton--action{
    background-color:dodgerblue;
    text-align: center;
 }

 .cardButton--action:hover{
    background-color:royalblue;
    text-align: center;
 }

 .textBox
 {
    background: transparent;
    border: none;
    border-bottom: 2px solid lightsteelblue;
    font-size: 18pt;
    color: white;
    text-align: center;
 }

.imgMoreActionsEdit{
    position: absolute;
    visibility: visible;
    width: 18px;
    height: 18px;
    right: 25px;
}

.imgMoreActionsDelete{
    position: absolute;
    visibility: visible;
    width: 18px;
    height: 18px;
    right: 5px;
}
