.labelName{
    cursor: pointer;
}
.cardButton{
    display: flex;
    padding:10px;
    border: 1px solid black;
    border-radius: 5px;
    cursor: pointer;
    position: relative;
    height: 70%;
    align-items: center;
    justify-content: center;
}

.cardButton--content{
    background-color: cornflowerblue;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    text-align: center;
 }

 .cardButton--content:hover{
    background-color:royalblue;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color:white;
    text-align: center; 
 }

 .cardButton--action{
    background-color:dodgerblue;
    text-align: center;
 }

 .cardButton--action:hover{
    background-color:royalblue;
    text-align: center;
 }

 .textBox
 {
    position: absolute;
    left: 7%;
    top: 25%;
    width: 80%;
    height: 50%;
    box-sizing: border-box;
    background: transparent;
    border: none;
    border-bottom: 2px solid lightsteelblue;
    color: white;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
 }

 .imgActionsCancelAdd{
     width: 15px;
     height: 15px;
     position: absolute;
     top: 40%;
     right: 5%;
 }


 .imgActionsAdd{
    width: 40px;
    height: 40px;
}
 @media screen and (max-width:480px){
    .imgActionsAdd{
        width: 20px;
        height: 20px;
    } 
 }

.imgMoreActionsEdit{
    position: absolute;
    visibility: visible;
    width: 18px;
    height: 18px;
    right: 25px;
    top:10px;
}

.imgMoreActionsDelete{
    position: absolute;
    visibility: visible;
    width: 18px;
    height: 18px;
    right: 5px;
    top:10px;
}
